<h1>Please modify activity details</h1>
<p> Activity made by <%=@activity.player.name%></p>

<form class="well span4" action="/activity/<%=@activity.id%>" method="POST">
<fieldset>
  <div class="control-group">
    <label class="control-label" for="activitytype">Select Activity</label>
    <div class="controls">
      <select id="activitytype" name="activitytype" value="<%=@activity.activitytype%>">
                <% @activities_type.each do |activity| %>
                  <option value = "<%= activity.id %>">
                  <%= activity.name %>
                  </option>
                <% end %>
      </select>
    </div>
  </div>
</fieldset>
    <label>Enter the date when you made the activity (format : AAAA-mm-jj)</label>
  <input type="text" class="span3" value="<%=@activity.made_at%>" name="made_at">
    <label>Enter duration (mn)</label>
  <input type="text" class="span3" value="<%=@activity.time%>" name="time">
    <label>Enter calories (cal)</label>
  <input type="text" class="span3" value="<%=@activity.cal%>" name="cal">
    <label>Enter distance (km)</label>
  <input type="text" class="span3" value="<%=@activity.km%>" name="km">
  <br/>
  <input type="submit" class="btn">
</form>